.main {
  display: block;
  font-size: 0;
  line-height: 0;
  background: #ccc;
  outline: solid 1px #ccc;
}

.main:focus {
  outline: none;
  outline: solid 1px blue;
}

.canvas {
  background: #fff;
  border: none;
  outline: none;
  margin: 0;
}
