.main {
  background: #ccc;
  display: block;
  font-size: 0;
  line-height: 0;
  outline: solid 1px #ccc;
  position: relative;
}

.main:focus {
  outline: none;
  outline: solid 1px rgb(80, 134, 236);
}

.canvas {
  background: #fff;
  border: none;
  outline: none;
  margin: 0;
}
