.main {
  background-color: #fff;
  font-size: 16px;
  margin: 1rem;
}

.editorParentRef :global .ProseMirror {
  border: solid 1px #ccc;
  box-sizing: border-box;
  outline: none;
  max-width: 820px;
  min-height: 1em;
  min-height: 28cm;
  min-width: 750px;
  padding: 0 1rem;
}

.editorParentRef :global .ProseMirror:focus {
  outline: none;
}

/* copied from style/prosemirror.css */
/* it's necessary when using prosemirror-view. */
/* See https://prosemirror.net/docs/ref/#view */
:global .ProseMirror {
  position: relative;
}

:global .ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

:global .ProseMirror pre {
  white-space: pre-wrap;
}

:global .ProseMirror li {
  position: relative;
}

:global .ProseMirror-hideselection *::selection {
  /* background: transparent; */
}
:global .ProseMirror-hideselection *::-moz-selection {
  /* background: transparent; */
}
:global .ProseMirror-hideselection {
  caret-color: transparent;
}

:global .ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

:global li.ProseMirror-selectednode {
  outline: none;
}

:global li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
