body {
  margin: 0;
  background: #fff;
}

.main {
  background: rgb(248, 249, 250);
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.editor :global .ProseMirror {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  flex: 1;
  min-height: 29.7cm;
  outline: none;
  padding: 5rem;
  width: 900px;
  margin: 1rem auto;
}

.editor :global .ProseMirror:focus {
  outline: none;
}

/* copied from style/prosemirror.css */
/* it's necessary when using prosemirror-view. */
/* See https://prosemirror.net/docs/ref/#view */
:global .ProseMirror {
  position: relative;
}

:global .ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

:global .ProseMirror pre {
  white-space: pre-wrap;
}

:global .ProseMirror li {
  position: relative;
}

:global .ProseMirror-hideselection *::selection {
  /* background: transparent; */
}
:global .ProseMirror-hideselection *::-moz-selection {
  /* background: transparent; */
}
:global .ProseMirror-hideselection {
  caret-color: transparent;
}

:global .ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

:global li.ProseMirror-selectednode {
  outline: none;
}

:global li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
