.toolBar {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.button {
  color: #444;
}

.button[disabled] {
  color: #888;
}

.toolBarRow {
  padding: 1rem;
}

.toolBarRuler {
  background: rgb(232, 234, 237);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  height: 1rem;
}
